.wrapper {
  padding: 24px 0 48px;
}

.ingd-img {
  padding: 0 24px;
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

table {
  tr td:nth-child(1) {
    width: 64%;
  }
  tr td:nth-child(2) {
    width: 36%;
  }
}
